body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #todo-container {
    border: 3px solid rgb(41, 36, 36);
    padding: 50px;
    border-radius: 5px;
  }
  
  #todo-form {
    display: flex;
    margin-bottom: 20px;
  }
  
  #new-todo {
    flex: 1;
    padding: 22px;
    border: 1px solid rgb(120, 112, 141);
    border-radius: 15px;
  }
  
  #add-button {
    padding: 20px 20px;
    background-color: #3b88e0; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todo-item label {
    flex: 1;
  }
  
  .completed {
    text-decoration: line-through;
    color: #aaa;
  }